LenguajesDeMarcas_(HTML-CSS-XML)/XML/PracticaExamenXML-DTD-XSD/xsd1-2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="puertas" type="tcPuertas">
    </xs:element>

    <xs:complexType name="tcPuertas">
        <xs:group ref="gPuertas"/>
    </xs:complexType>

    <xs:group name="gPuertas">
        <xs:sequence>
            <xs:element name="puertaCerrada" type="xs:boolean" default="false"/>
            <xs:element name="ventanaAbierta" type="xs:boolean" default="true"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
